/* STOLEN FROM https://frontend.horse/articles/thinking-outside-the-box-with-css-grid/ */

:root {
  font-size: 62.5%;

  --columns: 3;
  --sky-blue: hsl(122deg 33% 84% / 100%);
  --blue-green: hsl(151deg 28% 63% / 100%);
  --selective-yellow: hsl(190deg 24% 44% / 100%);
  --ut-orange: hsl(186deg 26% 31% / 100%);
  --white: hsl(206deg 24% 28% / 100%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Eczar, sans-serif;
  line-height: 1;
  font-weight: 400;
  background: #182028;
}

nav {
  display: flex;
  padding: 3rem 8rem;
  justify-content: end;
}

nav a {
  width: 3rem;
  height: 3rem;
  display: block;
  color: white;
}

a:link,
a:visited {
  color: white;
}

footer {
  display: flex;
  justify-content: space-between;
  font-size: 1.2rem;
  color: #fff;
  padding: 1rem 4rem;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 4rem auto;
  max-width: 1800px;
}

h2 {
  font-size: 7rem;
  color: #fff;
  text-align: center;
}

ul {
  display: grid;
  grid-template-columns: repeat(var(--columns), 1fr);
  list-style: none;
  width: 100%;
  margin-top: 10rem;
}

li {
  grid-column-end: span 2;
  position: relative;
  width: 100%;
  padding-bottom: 100%;
  margin-top: -40%;
}

li:nth-child(2n) {
  grid-column-start: 2;
}

li::before,
li::after {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  background-size:
    50% 100%,
    50% 100%;
  background-position: left, right;
}

li::before {
  z-index: -10;
  clip-path: polygon(50% 0, 100% 50%, 50% 100%, 0 50%);
  background-repeat: no-repeat;
  background-image: linear-gradient(
      -45deg,
      var(--selective-yellow) 53.5%,
      var(--blue-green) 53.5%,
      var(--blue-green) 60%,
      var(--selective-yellow) 60%
    ),
    linear-gradient(
      45deg,
      var(--selective-yellow) 53.5%,
      var(--blue-green) 53.5%,
      var(--blue-green) 60%,
      var(--selective-yellow) 60%
    );
}

li::after {
  clip-path: polygon(100% 50%, 50% 100%, 0 50%, 20% 50%, 50% 80%, 80% 50%);
  background-repeat: no-repeat;
  background-image: linear-gradient(
      45deg,
      var(--selective-yellow) 40%,
      var(--blue-green) 40%
    ),
    linear-gradient(-45deg, var(--selective-yellow) 40%, var(--blue-green) 40%);
}

li:nth-child(2n)::before {
  background-image: linear-gradient(
      -45deg,
      var(--ut-orange) 53.5%,
      var(--sky-blue) 53.5%,
      var(--sky-blue) 60%,
      var(--ut-orange) 60%
    ),
    linear-gradient(
      45deg,
      var(--ut-orange) 53.5%,
      var(--sky-blue) 53.5%,
      var(--sky-blue) 60%,
      var(--ut-orange) 60%
    );
}

li:nth-child(2n)::after {
  background-image: linear-gradient(
      45deg,
      var(--ut-orange) 40%,
      var(--sky-blue) 40%
    ),
    linear-gradient(-45deg, var(--ut-orange) 40%, var(--sky-blue) 40%);
}

li:nth-child(5n)::before {
  background-image: linear-gradient(
      -45deg,
      var(--blue-green) 53.5%,
      var(--ut-orange) 53.5%,
      var(--ut-orange) 60%,
      var(--blue-green) 60%
    ),
    linear-gradient(
      45deg,
      var(--blue-green) 53.5%,
      var(--ut-orange) 53.5%,
      var(--ut-orange) 60%,
      var(--blue-green) 60%
    );
}

li:nth-child(5n)::after {
  background-image: linear-gradient(
      45deg,
      var(--blue-green) 40%,
      var(--ut-orange) 40%
    ),
    linear-gradient(-45deg, var(--blue-green) 40%, var(--ut-orange) 40%);
}

li:nth-child(7n)::before,
li:nth-child(7n-4)::before {
  background-image: linear-gradient(
      -45deg,
      var(--sky-blue) 53.5%,
      var(--white) 53.5%,
      var(--white) 60%,
      var(--sky-blue) 60%
    ),
    linear-gradient(
      45deg,
      var(--sky-blue) 53.5%,
      var(--white) 53.5%,
      var(--white) 60%,
      var(--sky-blue) 60%
    );
}

li:nth-child(7n)::after,
li:nth-child(7n-4)::after {
  background-image: linear-gradient(
      45deg,
      var(--sky-blue) 40%,
      var(--white) 40%
    ),
    linear-gradient(-45deg, var(--sky-blue) 40%, var(--white) 40%);
}

li:nth-child(9n)::before,
li:nth-child(9n-5)::before {
  background-image: linear-gradient(
      -45deg,
      var(--white) 53.5%,
      var(--blue-green) 53.5%,
      var(--blue-green) 60%,
      var(--white) 60%
    ),
    linear-gradient(
      45deg,
      var(--white) 53.5%,
      var(--blue-green) 53.5%,
      var(--blue-green) 60%,
      var(--white) 60%
    );
}

li:nth-child(9n)::after,
li:nth-child(9n-5)::after {
  background-image: linear-gradient(
      45deg,
      var(--white) 40%,
      var(--blue-green) 40%
    ),
    linear-gradient(-45deg, var(--white) 40%, var(--blue-green) 40%);
}

img {
  position: absolute;
  width: 43%;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-60%);
  box-shadow: 5px -5px 10px rgb(0 0 0 / 30%);
  transition-property: transform;
  transition-duration: 0.3s;
}

img:hover {
  transform: translateX(-50%) translateY(-70%) scale(110%);
}

@media (width >= 450px) {
  ul {
    margin-top: 25rem;
  }

  footer {
    font-size: 2.2rem;
  }
}

@media (width >= 600px) {
  :root {
    --columns: 5;
  }

  li:nth-child(2n) {
    grid-column-start: auto;
  }

  li:nth-child(4n-1) {
    grid-column-start: 2;
  }
}

@media (width >= 900px) {
  :root {
    --columns: 7;
  }

  li:nth-child(4n-1) {
    grid-column-start: auto;
  }

  li:nth-child(6n-2) {
    grid-column-start: 2;
  }
}

@media (width >= 1200px) {
  :root {
    --columns: 9;
  }

  ul {
    margin-top: 15rem;
  }

  li:nth-child(6n-2) {
    grid-column-start: auto;
  }

  li:nth-child(8n-3) {
    grid-column-start: 2;
  }
}

@media (width >= 1500px) {
  :root {
    --columns: 11;
  }

  li:nth-child(8n-3) {
    grid-column-start: auto;
  }

  li:nth-child(10n-4) {
    grid-column-start: 2;
  }
}
