<!doctype html>
<html lang="en">
  <head>
    <title></title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Eczar:wght@400;600;700&family=Rubik:wght@400;500;700&display=swap"
      rel="stylesheet"
    />
    <link href="css/style.css" rel="stylesheet" />
  </head>
  <body></body>
</html>

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="date" content="$date-meta$" />
    <title>$title$</title>
  </head>
  <body>
    <section>
      <ul>
        $for(years)$
        <li class="year"><h2>$years.year$</h2></li>
        $for(years.books)$
        <li class="book">
          <a href="$years.books.link$">
            <img src="$years.books.img$" alt="" />
          </a>
        </li>
        $endfor$ $endfor$
      </ul>
    </section>
    <footer>
      <p>Made with ❤️ by <a href="https://github.com/hschne">hschne</a></p>
      <p>
        Inspired by
        <a
          href="https://frontend.horse/articles/thinking-outside-the-box-with-css-grid/"
          >Frontend Horse</a
        >
        🐴
      </p>
    </footer>
  </body>
</html>
